body{
  background-color:white;
}
h1,h2,p{
  float: left;
  color: white;
}

ul{
    list-style-type: none;
    font-size: 18px;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#333;
}
li{
    float:right;
}

li a, .dropbtn{
    display: inline-block;
    color: white;
    text-align: right;
    padding: 20px 30px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn{
    background-color: #D64CAB;
}
li.dropdown{
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
    color: black;
    padding: 20px 30px;
    text-decoration: none;
    display: block;
    text-align: right;
}
.dropdown-content a:hover{
  background-color: #D64CAB;
}

.dropdown:hover .dropdown-content{
    display: block;
    /* Style the header */
  }
    .header{
      grid-area: header;
      background-color: #f1f1f1;
      padding: 30px;
      text-align: center;
      font-size: 35px;
}
